* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  direction: rtl;
  text-align: right;
  font-family: "Arial (Hebrew)", Arial, sans-serif;
}
input,
textarea,
select {
  font-size: 12px;
}
a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  white-space: nowrap;
}
a:hover {
  text-decoration: underline;
  color: #005ca0;
  cursor: pointer;
}
.container {
  width: 900px;
  margin: 0 auto;
}
/* home page - index.html */
/* header */
header {
  width: 100%;
  height: 105px;
  padding: 20px 0 0 0;
  background-image: linear-gradient(
    to bottom,
    #909090 0%,
    #919191 82%,
    #959595 86%,
    #a7a7a7 94%,
    #aaaaaa 99%,
    #eeeeee 100%
  );
}
.header-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 33px;
  position: relative;
}
.lang {
  font-size: 12px;
  font-weight: bold;
  color: white;
  margin-left: 35px;
}
.header-logo {
  display: block;
  width: 142px;
  height: 93px;
  position: absolute;
  bottom: -83px;
  right: -8px;
  background: url(../img/paz-logo.png) no-repeat 0 0;
}
.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 146px;
}
.input-search {
  width: 126px;
  height: 19px;
  padding: 0 5px;
  border: none;
  box-shadow: inset 2px 4px 4px 1px rgba(244, 244, 244, 0.9),
    inset 0px 0px 4px 1px rgba(213, 213, 213, 1);
  border-top-right-radius: 6px;
  color: #000;
}
.btn-search {
  width: 19px;
  height: 19px;
  display: inline-block;
  background-image: url(../img/search-button.png);
  background-repeat: no-repeat;
}
.header-menu {
  width: max-content;
  margin-right: auto;
  list-style-type: none;
  display: flex;
}
.header-menu-link {
  display: block;
  margin-bottom: 14px;
}
.header-menu-item:hover > .dropdown-content {
  display: block;
}
.header-menu-item {
  position: relative;
  margin: 0 8px;
}
.header-menu-item:first-child > .header-menu-link {
  position: relative;
  top: 2px;
  right: 1px;
}
.header-menu-item:first-child {
  margin: 0 0 0 8px;
  border: none;
}
.header-menu-item:last-child {
  margin: 0 8px 0 0;
}
.header-menu-item:nth-child(even) {
  height: 20px;
  border-left: 2px solid #bcbcbc;
}
.dropdown-content {
  position: absolute;
  display: none;
  list-style-type: none;
  background-image: linear-gradient(
    to bottom,
    #ababab 0%,
    #aaaaaa 17%,
    #a1a1a1 34%,
    #979797 48%,
    #919191 66%,
    #909090 100%
  );
  z-index: 100;
}
.dropdown-item {
  border-bottom: 1px solid #b5b7b8;
  padding: 0 5px;
}
.dropdown-link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 0;
}
.dropdown-item:hover {
  background-color: #bcbcbc;
}
/* main>articles */
main {
  margin: 30px 0;
  padding-bottom: 38px;
}
.articles {
  display: flex;
  justify-content: space-between;
}
article {
  position: relative;
  width: 293px;
  height: 355px;
  border-bottom-right-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}
article:nth-child(1) {
  background-image: url(../img/paz-station.jpg);
}
article:nth-child(2) {
  background-image: url(../img/refining.jpg);
}
article:nth-child(3) {
  background-image: url(../img/industries-and-services.jpg);
}
.article-preview {
  display: flex;
  flex-direction: column;
  width: 248px;
  height: 114px;
  padding: 10px;
  position: absolute;
  left: 38px;
  bottom: 6px;
  color: #fff;
  background: rgba(127, 127, 127, 0.9);
  border-bottom-right-radius: 20px;
}
.article-title {
  font-size: 14px;
  font-weight: bold;
  margin: 0 0 4px 0;
}
.article-text {
  font-size: 13px;
  margin: 0 0 4px 0;
}
.article-link {
  align-self: flex-end;
  color: #fff;
  position: relative;
  bottom: 4px;
  font-size: 13px;
  font-weight: normal;
  background-image: url(../img/read-more-white.png);
  background-repeat: no-repeat;
  background-position: center left;
}
.article-link:hover {
  background-image: url(../img/read-more-blue.png);
}
.article-link > span {
  text-decoration: underline;
  margin-left: 12px;
}
/* main>aside */
aside {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
  color: #575757;
}
.banner {
  width: 293px;
  height: 216px;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to top,
    rgba(203, 203, 203, 0.24) 0%,
    rgba(209, 209, 209, 0.22) 24%,
    rgba(229, 229, 229, 0.17) 73%,
    rgba(236, 236, 236, 0.14) 100%
  );
  border-top-right-radius: 20px;
  border: 2px solid #f5f5f5;
}
.banner-title {
  line-height: 34px;
  font-size: 14px;
  font-weight: bold;
}
.banner-title:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  margin: 0 0 10px 0;
  background-color: #f5f5f5;
  align-self: center;
}
.banner:nth-child(3) {
  background: linear-gradient(
      to top,
      rgba(203, 203, 203, 0.24) 0%,
      rgba(209, 209, 209, 0.22) 24%,
      rgba(229, 229, 229, 0.17) 73%,
      rgba(236, 236, 236, 0.14) 100%
    ),
    url(../img/map-transparent.png) no-repeat left 24px bottom 5px;
}
.banner-img {
  width: 100%;
}
.banner-links {
  width: max-content;
}
.banner-link {
  margin: auto auto 24px 0;
  font-size: 13px;
  display: block;
  font-weight: normal;
  color: inherit;
  background-image: url(../img/read-more-yellow.png);
  background-repeat: no-repeat;
  background-position-y: 76%;
}
.banner-link:hover {
  background-image: url(../img/read-more-blue.png);
}
.banner-link > span {
  margin-left: 12px;
  text-decoration: underline;
}
.banner-links > .banner-link {
  margin: 0 0 8px 0;
}
/* footer */
footer {
  width: 100%;
  height: 38px;
  position: fixed;
  bottom: 0px;
  background: linear-gradient(
    to top,
    rgba(203, 203, 203, 1) 0%,
    rgba(168, 168, 168, 1) 3%,
    rgba(166, 166, 166, 1) 14%,
    rgba(147, 147, 147, 1) 41%,
    rgba(145, 145, 145, 1) 49%,
    rgba(144, 144, 144, 1) 100%
  );
}
.footer-menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 16px;
}
.footer-menu-item {
  color: #fff;
  font-size: 14px;
  line-height: 14px;
}
.footer-menu-item:nth-child(even) {
  border-left: 2px solid #fff;
  height: 14px;
}
.footer-menu-item:first-child > .footer-menu-link {
  position: relative;
  bottom: 3px;
}
/* contacts - contacts.html */
/* contacts - header */
.contacts-menu-link {
  width: 17px;
  height: 33px;
  background-image: url(../img/menu-home.png);
  background-repeat: no-repeat;
  background-position: 0 top;
}
.contacts-menu-link:hover {
  background-image: url(../img/menu-home-blue.png);
}
/* contacts-page-layout > column-1 */
.contacts-page-layout {
  display: flex;
  justify-content: space-between;
  color: #72716d;
  font-size: 12px;
}
.contacts-link {
  display: block;
  width: 122px;
  height: 36px;
  padding-right: 12px;
  position: relative;
  font-size: 13px;
  margin-bottom: 4px;
  color: #5c5c5c;
  line-height: 32px;
  font-weight: normal;
  background: linear-gradient(
    to top,
    rgba(212, 212, 212, 1) 0%,
    rgba(253, 253, 253, 1) 100%
  );
  border-top: 1px solid #dedede;
}
.contacts-link:before {
  content: "";
  display: block;
  position: absolute;
  border: 4px solid transparent;
  border-right: 5px solid#005ca0;
  top: 13px;
  right: 0px;
}
/* contacts-page-layout > column-2 */
.column-2 {
  width: 440px;
}
.breadcrumbs {
  font-size: 12px;
  color: #5c5c5c;
  margin-bottom: 25px;
}
.breadcrumbs > a {
  font-size: 12px;
  color: #5c5c5c;
  font-weight: normal;
  margin-bottom: 25px;
}
.breadcrumbs > a:hover {
  color: #005ca0;
}
.contacts-title {
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1px solid #cbcbcb;
  margin-bottom: 12px;
  padding-bottom: 4px;
}
.contacts-form {
  border-style: solid solid none solid;
  border-width: 1px;
  border-color: #cccccc;
  width: 383px;
  min-height: 332px;
  padding: 12px 18px;
  background: linear-gradient(
    to top,
    #ffffff 0%,
    #f7f7f7 49%,
    #f7f7f7 51%,
    #ececec 100%
  );
  border-top-right-radius: 20px;
}
form > span {
  display: block;
}
.form-title {
  color: #005ca0;
}
.form-subtitle {
  color: #6d6d6d;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.2;
  margin: 5px 0;
}
.fields {
  width: 245px;
  margin: 10px auto 0;
}
.input-wrap {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
.requered {
  color: rgb(248, 48, 48);
  display: none;
}
.form-input {
  box-sizing: content-box;
  width: 160px;
  padding: 3px;
  border: 1px solid #808992;
}
textarea {
  box-sizing: content-box;
  color: #6d6d6d;
  width: 235px;
  height: 100px;
  padding: 3px;
  border: 1px solid #808992;
  margin-bottom: 5px;
}
textarea::placeholder {
  font-family: "Arial (Hebrew)", Arial, sans-serif;
  color: #72716d;
  font-size: 12px;
}
.btn-send {
  width: fit-content;
  height: 21px;
  display: block;
  margin-right: auto;
  font-size: 14px;
  color: #fff;
  background: linear-gradient(
    to top,
    rgba(204, 204, 204, 0.6) 0%,
    rgba(95, 186, 225, 1) 5%,
    rgba(15, 167, 233, 1) 10%,
    rgba(4, 146, 211, 1) 25%,
    rgba(1, 122, 185, 1) 40%,
    rgba(1, 98, 156, 1) 65%,
    rgba(2, 79, 134, 1) 90%,
    rgba(94, 139, 172, 1) 95%,
    rgba(235, 235, 235, 0.6) 100%
  );
  line-height: 21px;
  border: none;
  border-top-right-radius: 6px;
}
.btn-send:hover {
  background: initial;
  color: #6d6d6d;
  text-decoration: none;
}
.btn-send:hover > .right {
  background: url(../img/btn-hover-r.png) no-repeat -5px 0;
}
.btn-send:hover > .left {
  background: url(../img/btn-hover-l.png) no-repeat -6px 0;
}
.right,
.left {
  height: 21px;
}
/* contacts-page-layout > column-3 */
.column-3 {
  width: 292px;
  margin-top: 56px;
}
.box {
  width: 292px;
  height: 175px;
  padding: 18px 22px 15px;
  margin-bottom: 30px;
  background: linear-gradient(
    to top,
    rgba(203, 203, 203, 0.14) 0%,
    rgba(203, 203, 203, 0.24) 1%,
    rgba(207, 207, 207, 0.24) 18%,
    rgba(229, 229, 229, 0.24) 73%,
    rgba(236, 236, 236, 0.24) 99%,
    rgba(236, 236, 236, 0.14) 100%
  );
  border-top-right-radius: 20px;
  border: 2px solid #f5f5f5;
}
.box-title {
  color: #005ca0;
  font-weight: bold;
  font-size: 15px;
}
.box-subtitle {
  font-size: 13px;
  color: #6d6d6d;
  font-weight: bold;
  display: block;
}
.box-title:after {
  content: "";
  display: block;
  height: 2px;
  background-color: #f5f5f5;
  margin: 5px 0;
}
.box-text {
  font-size: 13px;
  color: #6d6d6d;
}
.box-link {
  font-size: 13px;
  font-weight: normal;
  color: blue;
}
